h2{
    color: red;
}

.card-body{
    color: green;
}

.card-title{
    color: blue;
}

.float-container{
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}
.card{
    display:flex;
    margin: 10px;
    float: left;
}